# pandas

# Python Data Analysis Library

pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Is has two main objects to represents data: Series and DataFrame.

Reference:

http://pandas.pydata.org/

In [120]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Working with Series is an array like object.

Series is a one-dimensional labeled array capable of holding any data type. 


pd.Series(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [121]:
x = pd.Series([1,2,3,4,5])
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Basic Operation

In [122]:
x + 100

0    101
1    102
2    103
3    104
4    105
dtype: int64

In [123]:
(x ** 2) + 100

0    101
1    104
2    109
3    116
4    125
dtype: int64

In [124]:
y = x > 2
y

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [125]:
y.any()

True

In [126]:
y.all()

False

## apply()

In [127]:
def ourfunction(x):
    if x % 2 == 1:
        return x * 3
    else:
        return x * 2

x.apply(ourfunction)

0     3
1     4
2     9
3     8
4    15
dtype: int64

### Avoid looping over your data

In [128]:
%%timeit

ds = pd.Series(range(10000))

for counter in range(len(ds)):
    ds[counter] = ourfunction(ds[counter])

1 loop, best of 3: 148 ms per loop

In [129]:
%%timeit

ds = pd.Series(range(10000))

ds = ds.apply(ourfunction)

100 loops, best of 3: 5.38 ms per loop

In [130]:
x.astype(np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

## copy()

In [131]:
y = x

In [132]:
y[0]

1

In [133]:
y[0] = 100

In [134]:
y

0    100
1      2
2      3
3      4
4      5
dtype: int64

In [135]:
x

0    100
1      2
2      3
3      4
4      5
dtype: int64

In [136]:
y = x.copy()

In [137]:
x[0]=1

In [138]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [139]:
y

0    100
1      2
2      3
3      4
4      5
dtype: int64

In [140]:
x.describe()

count    5.000000
mean     3.000000
std      1.581139
           ...
50%      3.000000
75%      4.000000
max      5.000000
Length: 8, dtype: float64

# DataFrame
### DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
### Series is the datastructure for a single column of a DataFrame.

## pd.DataFrame(self, data=None, index=None, columns=None, dtype=None, copy=False)

In [141]:
data = [1,2,3,4,5,6,7,8,9]
df1 = pd.DataFrame(data, columns=["col1"])

In [142]:
df1

    col1
0      1
1      2
2      3
..   ...
6      7
7      8
8      9

[9 rows x 1 columns]

# Selecting Datadf["col1"]

In [143]:
df1["col1"]

0    1
1    2
2    3
    ..
6    7
7    8
8    9
Name: col1, Length: 9, dtype: int64

In [144]:
df1["col1"][0]

1

## Adding extra columns

In [145]:
df1["col1_sequared"] = df1["col1"] ** 2
df1

    col1  col1_sequared
0      1              1
1      2              4
2      3              9
..   ...            ...
6      7             49
7      8             64
8      9             81

[9 rows x 2 columns]

In [146]:
df1["col1_plus3"] = df1["col1"] + 3
df1["col1_factorial"] = df1["col1"].apply(np.math.factorial)
df1

    col1  col1_sequared  col1_plus3  col1_factorial
0      1              1           4               1
1      2              4           5               2
2      3              9           6               6
..   ...            ...         ...             ...
6      7             49          10            5040
7      8             64          11           40320
8      9             81          12          362880

[9 rows x 4 columns]

In [147]:
df1["is_even"] = df1["col1"] % 2
df1

    col1  col1_sequared  col1_plus3  col1_factorial  is_even
0      1              1           4               1        1
1      2              4           5               2        0
2      3              9           6               6        1
..   ...            ...         ...             ...      ...
6      7             49          10            5040        1
7      8             64          11           40320        0
8      9             81          12          362880        1

[9 rows x 5 columns]

# map()

In [148]:
df1["odd_even"] = df1["is_even"].map({1:"odd", 0:"even"})
df1

    col1  col1_sequared  col1_plus3  col1_factorial  is_even odd_even
0      1              1           4               1        1      odd
1      2              4           5               2        0     even
2      3              9           6               6        1      odd
..   ...            ...         ...             ...      ...      ...
6      7             49          10            5040        1      odd
7      8             64          11           40320        0     even
8      9             81          12          362880        1      odd

[9 rows x 6 columns]

## drop()

In [149]:
df1 = df1.drop("is_even", 1)
df1

    col1  col1_sequared  col1_plus3  col1_factorial odd_even
0      1              1           4               1      odd
1      2              4           5               2     even
2      3              9           6               6      odd
..   ...            ...         ...             ...      ...
6      7             49          10            5040      odd
7      8             64          11           40320     even
8      9             81          12          362880      odd

[9 rows x 5 columns]

## Multi Column Select

In [150]:
df1[["col1", "odd_even"]]

    col1 odd_even
0      1      odd
1      2     even
2      3      odd
..   ...      ...
6      7      odd
7      8     even
8      9      odd

[9 rows x 2 columns]

## Controlling display options

In [151]:
pd.options.display.max_columns= 60
pd.options.display.max_rows= 6
pd.options.display.notebook_repr_html = False
df1

    col1  col1_sequared  col1_plus3  col1_factorial odd_even
0      1              1           4               1      odd
1      2              4           5               2     even
2      3              9           6               6      odd
..   ...            ...         ...             ...      ...
6      7             49          10            5040      odd
7      8             64          11           40320     even
8      9             81          12          362880      odd

[9 rows x 5 columns]

## Filtering

In [152]:
df1[df1["odd_even"] == "odd"]

   col1  col1_sequared  col1_plus3  col1_factorial odd_even
0     1              1           4               1      odd
2     3              9           6               6      odd
4     5             25           8             120      odd
6     7             49          10            5040      odd
8     9             81          12          362880      odd

## Chaining Filters
 
## OR

In [153]:
df1[(df1.odd_even == "even") | (df1.col1  < 5)]

   col1  col1_sequared  col1_plus3  col1_factorial odd_even
0     1              1           4               1      odd
1     2              4           5               2     even
2     3              9           6               6      odd
3     4             16           7              24     even
5     6             36           9             720     even
7     8             64          11           40320     even

# &And

In [154]:
df1[(df1.odd_even == "even") & (df1.col1 < 5)]

   col1  col1_sequared  col1_plus3  col1_factorial odd_even
1     2              4           5               2     even
3     4             16           7              24     even

## Furter Chaining

In [155]:
df1[(df1.odd_even == "even") & (df1.col1 < 5)]["col1_plus3"][:1]

1    5
Name: col1_plus3, dtype: int64

In [156]:
df1.describe()

           col1  col1_sequared  col1_plus3  col1_factorial
count  9.000000       9.000000    9.000000        9.000000
mean   5.000000      31.666667    8.000000    45457.000000
std    2.738613      28.080242    2.738613   119758.341137
...         ...            ...         ...             ...
50%    5.000000      25.000000    8.000000      120.000000
75%    7.000000      49.000000   10.000000     5040.000000
max    9.000000      81.000000   12.000000   362880.000000

[8 rows x 4 columns]

## Reading Data from CSV/TSV Files

In [157]:
url = "http://www.google.com/finance/historical?q=TADAWUL:TASI&output=csv"
stocks_data = pd.read_csv(url)

In [158]:
stocks_data

          Date     Open     High      Low    Close     Volume
0    29-Aug-17  7261.84  7274.43  7241.37  7258.64   97604159
1    28-Aug-17  7225.18  7265.05  7220.62  7261.84   95380388
2    27-Aug-17  7245.66  7259.18  7223.39  7225.18   72825546
..         ...      ...      ...      ...      ...        ...
242   8-Sep-16  6139.38  6181.62  6136.49  6176.53  104935149
243   7-Sep-16  6190.35  6198.40  6123.99  6139.38  114834586
244   6-Sep-16  6204.08  6238.27  6174.48  6190.35  118178773

[245 rows x 6 columns]

In [159]:
stocks_data["change_amount"] = stocks_data["Close"] - stocks_data["Open"]
stocks_data["change_percentage"] = stocks_data["change_amount"] / stocks_data["Close"]
stocks_data

          Date     Open     High      Low    Close     Volume  change_amount  \
0    29-Aug-17  7261.84  7274.43  7241.37  7258.64   97604159          -3.20
1    28-Aug-17  7225.18  7265.05  7220.62  7261.84   95380388          36.66
2    27-Aug-17  7245.66  7259.18  7223.39  7225.18   72825546         -20.48
..         ...      ...      ...      ...      ...        ...            ...
242   8-Sep-16  6139.38  6181.62  6136.49  6176.53  104935149          37.15
243   7-Sep-16  6190.35  6198.40  6123.99  6139.38  114834586         -50.97
244   6-Sep-16  6204.08  6238.27  6174.48  6190.35  118178773         -13.73

     change_percentage
0            -0.000441
1             0.005048
2            -0.002835
..                 ...
242           0.006015
243          -0.008302
244          -0.002218

[245 rows x 8 columns]

# References:

http://pandas.pydata.org/

http://nbviewer.jupyter.org/github/TwistedHardware/mltutorial/tree/master/notebooks/IPython-Tutorial/